.top-bar, .top-bar-section ul li {
    background-color: #2C374C
}

a:hover, a:focus,
.side-nav li.heading a:hover,
.side-nav li.heading a:focus,
.side-nav li.heading li a:hover,
.side-nav li.heading li a:focus {
  color: #2C374C;
}